<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta name="description" content="Connectez-vous à votre espace.">
	<link rel="stylesheet" href="assets/style_base.css">
	<link rel="stylesheet" href="assets/style_formulaire.css">
	<link rel="shortcut icon" href="images/logo.png" />
	<title>Connexion - Lebonplan</title>
</head>

<body>
	<header>
		<div class="center"><img src="./images/logo-lbp-header.png" alt="Lebonplan - Le meilleur site d'annonces en ligne"></div>
		<nav class="navbar">
			<div class="bar">
				<div><a href="index.html">Accueil</a></div>
				<span>|</span>
				<div><a href="entreprise.html">Entreprise</a></div>
				<span>|</span>
				<div><a href="offres.html">Offres</a></div>
				<span>|</span>
				<div><a href="wishlist.html">Wishlist</a></div>
				<span>|</span>
				<div><a href="contact.html">Contact</a></div>
			</div>
			<div class="account">
				<div><a class="selected" href="connexion.html">Connexion</a></div>
				<span>|</span>
				<div><a href="inscription.html" class="inscription">S'inscrire</a></div>
			</div>
		</nav>

	</header>

	<main>

		<section>

			<h1 class="center">Bonjour !</h1>

			<p class="center">Connectez-vous pour retrouver vos annonces sauvegardées et déposées.</p>

			<article>



				<form class="formulaire">
					<h2>Formulaire de connexion</h2>

					<label>Courriel<input name="email" type="email" size="30" value="" required></label>

					<label>Mot de passe<input name="password" type="password" size="30" value="" required></label>

					<div class="buttons">
						<button type="submit">Connexion</button>
						<input type="reset" value="Effacer">
					</div>
				</form>

			</article>

		</section>

	</main>

	<footer class="footer">
		<em>2024 - Tous droits réservés</em>
	</footer>

</body>

</html>