{% extends "base.twig" %}

{% block title %}Ajouter une entreprise - Lebonplan{% endblock %}

{% block content %}
    <section class="form-entreprise">
        <h1 class="center">Ajouter une entreprise</h1>

        <form action="?page=ajout-entreprise" method="POST">
            <div class="form-group">
                <label for="NameCompany">Nom de l'entreprise</label>
                <input type="text" id="NameCompany" name="NameCompany" required>
            </div>
            <div class="form-group">
                <label for="EmailCompany">Email de l'entreprise</label>
                <input type="text" id="EmailCompany" name="EmailCompany" required>
            </div>
            <div class="form-group">
                <label for="Sector">Secteur</label>
                <input type="text" id="Sector" name="Sector" required>
            </div>
            <div class="form-group">
                <label for="City">Ville</label>
                <input type="text" id="City" name="City" required>
            </div>
            <button type="submit" class="btn-submit">Ajouter</button>
        </form>
    </section>
{% endblock %}
