<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta name="description" content="Venez rechercher la perle rare ou vendre un article.">
	<link rel="shortcut icon" href="images/logo.png" />
	<link rel="stylesheet" href="assets/style_base.css">
	<title>Sites de petites annonces - Lebonplan</title>
</head>

<header>
	<div class="center"><img src="./images/logo-lbp-header.png" alt="Lebonplan - Le meilleur site d'annonces en ligne"></div>
	<nav class="navbar">
		<div class="bar">
			<div><a href="index.html">Accueil</a></div>
			<span>|</span>
			<div><a href="entreprise.html">Entreprise</a></div>
			<span>|</span>
			<div><a class="selected" href="offres.html">Offres</a></div>
			<span>|</span>
			<div><a href="wishlist.html">Wishlist</a></div>
			<span>|</span>
			<div><a href="contact.html">Contact</a></div>
		</div>
		<div class="account">
			<div><a href="connexion.html">Connexion</a></div>
			<span>|</span>
			<div><a href="inscription.html" class="inscription">S'inscrire</a></div>
		</div>
	</nav>

	<div class="tree">
		<a href="index.html">Accueil</a>
		<span>></span>
		<a class="selected" href="#">Offres</a>
	</div>
</header>

<body>
	<main>
		<div>
			<h1 class="center">Postuler à nos offres disponibles</h1>
			<h2>Choisissez quelles types d'offres vous souhaitez</h2>
		</div>
		<div class="offers">
		<a href="offres-stage.html">
			<div class="offer clickable">
				<h1 class="center">STAGE</h1>
				<h2 class="small center">Nos offres de stage avec nos entreprise partenaires</h2>
			</div>
		</a>
		<a href="#">
			<div class="offer clickable">
				<h1 class="center">ALTERNANCE</h1>
				<h2 class="small center">Nos offres d'alternance avec nos entreprise partenaires</h2>
			</div>
		</a>
		</div>
	</main>

	<footer class="footer">	2024 - Tous droits réservés - Web4All - Mention Légale	</footer>

</body>

</html>