{% extends "base.twig" %}

{% block title %}Accueil - Lebonplan{% endblock %}

{% block content %}
    <section>

			<h1 class="center">Bonjour !</h1>

			<p class="center">Connectez-vous pour retrouver vos annonces sauvegardées et déposées.</p>

			<article>



				<form class="formulaire">
					<h2>Formulaire de connexion</h2>

					<label>Courriel<input name="email" type="email" size="30" value="" required></label>

					<label>Mot de passe<input name="password" type="password" size="30" value="" required></label>

					<div class="buttons">
						<button type="submit">Connexion</button>
						<input type="reset" value="Effacer">
					</div>
				</form>

			</article>

		</section>
{% endblock %}
