{% extends "base.twig" %}

{% block title %}Accueil - Lebonplan{% endblock %}

{% block content %}
    <section>
	   
				<h1 class="center">Créez un compte</h1>
				
				<p  class="center">Pour déposer une annonce ou bénéficier d'une expérience personnalisée avec du contenu en lien avec vos recherches inscrivez-vous, c'est rapide et gratuit !</p>
				
				<article>
					
					
					<form class="formulaire">
						<h2>Formulaire d'inscription</h2>

						<label>Civilité
						<select name="title">
							<option value="ms">Madame</option>
							<option value="mr">Monsieur</option>	 
							<option value="he">Helicoptère de combat apache Antonov-1789</option>
							<option value="  ">Non binaire</option> 
						</select>
						</label>
						<label>Nom<input name="lastname" type="text" value="" size="50" required ></label>
						<label>Prénom<input name="surname" type="text" size="50" value="" required ></label>
						<label>Courriel<input name="email" type="email" size="30" value="" required ></label>
						<label>Mot de passe<input name="password" type="password" size="30" value="" required ></label>
						<label>Confirmation<input name="password_confirm" type="password" size="30" minlength="8" value="" required ></label>
						<div class="buttons">
							<button type="submit">ENVOYER</button>
							<input type="reset" value="Réinitialiser" >
						</div>
					</form>
			
				</article>
			</section>
{% endblock %}
