{% extends "base.twig" %}

{% block title %}Mention Légale - Lebonplan{% endblock %}

{% block content %}
    <h1 class="center title">Le meilleur endroit pour trouver ou déposer votre annonce</h1>

    
    <p><h2 class="title"> Mention Légale</h2></p>
    <p> <h4 class="mention-title">1. Éditeur du site</h4></p>
    <div>
        <li>Le présent site est édité par : Web4All </li>
        <li>Forme juridique : SARL</li>
        <li>Siège social : dans mes fesses</li>
        <li>Numéro d’immatriculation : BF 806 RF</li>
        <li>Capital social : PARIS</li>
        <li>Email : fire_90@gmail.com</li>
        <li>Téléphone : 0642882314</li>
    </div>
    

    <p><h4 class="mention-title">2. Hébergement du site</h4></p>
    
    <div>
        <li>Le site est hébergé par : Azure</li>
        <li>Adresse : 
        70 Sir Rogerson's Quay,
        Dublin, D02 R296,
        Irlande</li>
        <li>Téléphone : 0101010101</li>
    </div>

    <p> <h4 class="mention-title">3. Propriété intellectuelle</h4></p>
    
    <p>L’ensemble des éléments présents sur ce site (textes, images, logos, vidéos, etc.) sont protégés par les lois en vigueur sur la propriété intellectuelle. Toute reproduction, distribution ou modification sans autorisation est interdite.</p>

    <p> <h4 class="mention-title">4. Protection des données personnelles</h4></p>
    
    <p>Conformément au Règlement Général sur la Protection des Données (RGPD), les utilisateurs disposent d’un droit d’accès, de rectification et de suppression de leurs données personnelles. Pour exercer ces droits, contactez-nous à : fire_90@gmail.com.</p>

    <p> <h4 class="mention-title">5. Cookies</h4></p>
    
    <p>Le site utilise des cookies afin d’améliorer l’expérience utilisateur. L’utilisateur peut à tout moment modifier ses préférences via les paramètres de son navigateur ou en consultant notre Politique de Confidentialité.</p>

    <p> <h4 class="mention-title">6. Responsabilité</h4></p>

    <p>L’éditeur du site ne saurait être tenu responsable des dommages directs ou indirects causés par l’utilisation du site.</p>

    <p> <h4 class="mention-title">7. Droit applicable</h4></p>

    <p>Les présentes mentions légales sont régies par le droit applicable en France. En cas de litige, les tribunaux compétents seront ceux de Paris.</p>

    <p> <h4 class="mention-title">8. Contact</h4></p>

    <p>Pour toute question relative aux mentions légales, vous pouvez nous contacter à : fire_90@gmail.com..</p>
    
{% endblock %}