{% extends "base.twig" %}

{% block title %}Mention Légale - Lebonplan{% endblock %}

{% block content %}
    <h1 class="center title">Le meilleur endroit pour trouver ou déposer votre annonce</h1>

    
    <p><h2 class="title"> Mention Légale</h2></p>

{% endblock %}