{% extends "base.twig" %}

{% block title %}Modifier une entreprise - Lebonplan{% endblock %}

{% block content %}
    <section>
        <h1 class="center">Modifier l'entreprise</h1>

        <form action="{{ path('modifier-entreprise') ~ '?id=' ~ entreprise.id }}" method="POST">
            <div class="form-group">
                <label for="nom">Nom de l'entreprise</label>
                <input type="text" id="nom" name="nom" value="{{ entreprise.nom }}" required>
            </div>
            <div class="form-group">
                <label for="secteur">Secteur</label>
                <input type="text" id="secteur" name="secteur" value="{{ entreprise.secteur }}" required>
            </div>
            <div class="form-group">
                <label for="ville">Ville</label>
                <input type="text" id="ville" name="ville" value="{{ entreprise.ville }}" required>
            </div>
            <button type="submit" class="btn-submit">Modifier</button>
        </form>
    </section>
{% endblock %}
