{% extends "base.twig" %}

{% block title %}Mon Profil - Lebonplan{% endblock %}

{% block content %}
    <h1 class="center title">Mon Profil <h1>
    <div class="offers">
        <div class="offer hoverable">
		    <h1 class="title center">[Nom/Prenom]</h1>
		    <h1 class="center"> <a href="{{path('')}}" class="postuler clickable" > MODIFIER </a> </h1>
        </div>
    </div>
{% endblock %}