{% extends "base.twig" %}

{% block title %}Accueil - Lebonplan{% endblock %}

{% block content %}
    <h1 class="center">Le meilleur endroit pour trouver ou déposer votre annonce !</h1>
{% endblock %}
